@import "../../../mixins.scss";

.heroBanner {
    width: 100%;
    height: 450px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    position: relative;

    @include md {
        height: 700px;
    }

    .backdrop-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        overflow: hidden;

        .lazy-load-image-background {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .opacity-layer {
        width: 100%;
        height: 250px;
        background: linear-gradient(180deg,
                rgba(3, 15, 32, 0) 0%,
                #030a14 79.17%);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .heroBannerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(213, 201, 201);
        text-align: center;
        position: relative;
        max-width: 800px;
        margin: 0 auto;

        .title {
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 10px;

            @include md {
                margin-bottom: 0;
                font-size: 90px;
            }
        }

        .subTitle {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;

            @include md {
                font-size: 20px;
            }
        }
        .subTitle_1{
            margin-top: 10px;
            font-size: 14px;
        }

        .searchInput {
            display: flex;
            align-items: center;
            width: 100%;
            margin-top: 40px;

            input {
                width: calc(100% - 100px);
                height: 50px;
                background-color: rgb(229, 221, 221);
                outline: 0;
                border: 0;
                border-radius: 30px 0 0 30px;
                padding: 3px 15px;
                font-size: 14px;

                @include xs {
                    width: calc(100% - 10px);
                    height: 40px;
                    font-size: 10px;
                    padding: 3px 10px;
                }

                @include sm {
                    width: calc(100% - 20px);
                    height: 40px;
                    font-size: 14px;
                    padding: 3px 15px;
                }

                @include md {
                    width: calc(100% - 150px);
                    height: 40px;
                    font-size: 14px;
                    padding: 3px 30px;
                }

            }

            button {
                width: 100px;
                height: 50px;
                background: var(--gradient);
                color: rgb(238, 228, 228);
                outline: 0;
                border: 0;
                border-radius: 0 30px 30px 0;
                font-size: 16px;
                cursor: pointer;

               @include xs {
                    // width: calc(100% - 10px);
                    height: 40px;
                    font-size: 14px;
                    padding: 2 10px;
                }

                @include sm {
                    // width: calc(100% - 20px);
                    height: 40px;
                    font-size: 16px;
                    padding: 2 15px;
                }

                @include md {
                    // width: calc(100% - 150px);
                    height: 40px;
                    font-size: 20px;
                    padding: 2 30px;
                }
            }
        }
    }
}